@model Aroma.Models.ItemDetails
<header>
    <h1>@Model.CakeTitle</h1>
</header>
<div class="well">
    <div>
        @Model.CakeImage
    </div>
    <div>
        @Model.CakeDescription
    </div>
</div>
