<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="aromawebsite" patch:before="site[@name='website']"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/Aroma"
            startItem="/aroma-home-page"
            contentStartItem="/sitecore/Content/Aroma/aroma-home-page"
            hostName="aroma.training.com"
            database="web"
            domain="extranet"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="50MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"/>
    <site name="shell">
        <patch:attribute name="contentStartItem">/</patch:attribute>
      </site>
    </sites>
  <settings>
      <setting name="Preview.ResolveSite">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>