<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- [About Us] -->
                <div class="well">
                    <h4>About Us</h4>
                    <p>
                        The Adventure Company is a nonprofit organization. In each location where we sponsor events, we carefully vet local conservation
                        organizations so that our members have the opportunity to donate their money where it will do the most good on a
                        local level.
                    </p>
                </div>
                <!-- [/About Us] -->
            </div>
            <div class="col-md-4">
                <!-- [Meta Navigation] -->
                <ul class="nav nav-stacked">
                    <li>
                        <a href="Content-page.html" title="Legal Notice">Legal Notice</a>
                    </li>
                    <li>
                        <a href="Content-page.html" title="Privacy Policy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="Content-page.html" title="Terms and Conditions">Terms and Conditions</a>
                    </li>
                </ul>
                <!-- [/Meta Navigation] -->
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- [Copyright] -->
                    <small class="copyright">
                        <span>Copyright &copy; 2016 Version 1.0.0.0</span>
                    </small>
                    <!-- [/Copyright] -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- [/Footer Content] -->