<div>
    <div>
        @Html.Sitecore().Placeholder("homeContent")
    </div>
    <div>
        @Html.Sitecore().Field("Title")
    </div>
    <div>
        @Html.Sitecore().Field("Image", new { mw = 400 })
    </div>
</div>