<header>
    <h1>@Html.Sitecore().Field("Cake Title")</h1>
</header>
<div class="well">
    <div>
        @Html.Sitecore().Field("Cake Image")
    </div>
    <div>
        @Html.Sitecore().Field("Cake Description")
    </div>
</div>