<div class="row">
    <div class="col-lg-4">
        @Html.Sitecore().Placeholder("navigation")
    </div>
    <div class="col-lg-8">
        @Html.Sitecore().Placeholder("main")
    </div>
</div>